/* wrapper */
.dual-banner-wrapper {
  width: 100%;
  background-color: #fafcff;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
/* container */
.dual-banner-container {
  width: 100%;
  max-width: 1480px;
  height: 380px;
  overflow: hidden;
  position: relative;
}

/* track */
.dual-banner-track {
  display: flex;
  height: 100%;
  gap: 20px;   /* 🔥 padding hata ke gap use kar */
  transition: transform 0.5s ease-in-out;
}

/* slide */
.dual-banner-slide {
  flex: 0 0 calc(50% - 10px);  /* 🔥 PERFECT WIDTH */
  height: 100%;
}

/* image */
.dual-banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}
/* arrows */
.dual-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.3);
  border: none;
  color: #fff;
  font-size: 26px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  z-index: 10;
}

.dual-arrow.left {
  left: 10px;
}

.dual-arrow.right {
  right: 10px;
}

.dual-arrow:hover {
  background: rgba(0,0,0,0.6);
}

.dual-dots {
  position: absolute;
  bottom: -10px;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  width: 22px;
  border-radius: 10px;
  background: #fff;
}