.wishlist-container {
  max-width: 1200px;
  margin: 90px 0;
  padding: 20px 70px;
}

/* TITLE */
.wishlist-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* GRID */
.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* CARD */
.wishlist-card {
  background: #fff;
  border: 1px solid #eee;
  position: relative;
  transition: 0.3s;
}

.wishlist-card:hover {
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* IMAGE */
.wishlist-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* REMOVE BUTTON (X) */
.wishlist-remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 5px 5.5px;
  cursor: pointer;
  text-align: center;
}

/* CONTENT */
.card-content {
  padding: 12px;
}

.card-content h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 12px;
  color: #555;
  margin-bottom: 8px;
  letter-spacing: 1.3px;
  display: -webkit-box;
  -webkit-line-clamp: 2;   
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* PRICE */
.price-box {
  font-size: 14px;
  margin-bottom: 10px;
}

.price {
  font-weight: 600;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-left: 6px;
}

.discount {
  color: #ff3f6c;
  margin-left: 6px;
  font-weight: 600;
}

/* BUTTON */
.move-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #fff;
  border-top: 1px solid #eee;
  color: #ff3f6c;
  font-weight: 600;
  cursor: pointer;
}

.move-btn:hover {
  background: #fff5f7;
}

.Fatimes{
  font-size: 16px;
}